<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form autocomplete="off" novalidate [formGroup]="profileForm" (submit)="updateUserProfile(profileForm.value)">
      <div class="form-group" [ngClass]="{'error': !isValidateFirstNameField()}">
        <label for="firstName">First Name:</label>
        <em *ngIf="!isValidateFirstNameField()">Required</em>
        <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name..." />
      </div>
      <div class="form-group" [ngClass]="{'error': !isValidateLastNameField()}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="!isValidateLastNameField()">Required</em>
        <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
